PROJECT_NAME=RHX6900
SOURCE_SYMBOL=RHX6900
ACTIVE_REWARD_SYMBOL=TENDIES

REWARD_MODE=token
HELIUS_RPC_URL=
SOURCE_TOKEN_MINT=
ACTIVE_REWARD_TOKEN_MINT=
TREASURY_WALLET_SECRET=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE=

CLAIM_ENABLED=false
BUY_ENABLED=false
AIRDROP_ENABLED=false

EPOCH_MINUTES=15
ELIGIBILITY_MIN=1000000
MAX_WALLETS_PER_EPOCH=200
MAX_HOLDER_PCT=5
EXCLUDE_WALLETS=

SWAP_BALANCE_BPS=10000
SWAP_SLIPPAGE_BPS=300
SIDE_WALLET_BPS=0
SIDE_WALLET_PUBLIC_KEY=

MIN_SOL_RESERVE=0.4
AIRDROP_SOL_RESERVE=0.4
AIRDROP_BATCH_SIZE=4
AIRDROP_REWARD_BPS=10000
PRIORITY_FEE_SOL=0.000001
MIN_REWARD_RAW_TO_AIRDROP=1
MIN_SOL_REWARD_LAMPORTS_TO_AIRDROP=5000
HOLDER_STREAK_BONUS_ENABLED=true

NEXT_PUBLIC_PROJECT_NAME=RHX6900
NEXT_PUBLIC_SOURCE_SYMBOL=RHX6900
NEXT_PUBLIC_EPOCH_MINUTES=15
NEXT_PUBLIC_ELIGIBILITY_MIN=1000000
